/* CSS DIRECTORY FOR ORGANIZATION AND QUICK FORMATTING 
|=========================================================|
|=========================================================|
|Section 1: General layout and reusable css              =|
|    a. Webpage body                                     =|
|    b. Flex container & box                             =|
|    c. Resource container & box                         =|
|    d. Content sections                                 =|
|                                                        =|
|Section 2: Forms and submissions styles                 =|
|    a. Suggestion form                                  =|
|    b. Search form                                      =|
|    c. Newsletter signup                                =|
|                                                        =|
|Section 3: Various buttons                              =|
|    a. Submit button                                    =|
|    b. About button                                     =|
|    c. Carousel button                                  =|
|    d. Learn more button                                =|
|    e. Scroll to top button                             =|
|                                                        =|
|Section 4: Header style and navigation                  =|
|                                                        =|
|Section 5: Footer style                                 =|
|                                                        =|
|Section 6: Information presentation                     =|
|    a. Statistics                                       =|
|    b. Info boxes                                       =|
|    c. Charts                                           =|
|                                                        =|
|Section 7: Webpage specific styles                      =|
|    a. Homepage                                         =|
|    b. Cyber News                                       =|
|    c. Tools and Resources                              =|
|    d. Cyber Hygiene                                    =|
|    e. Contact Page                                     =|
|                                                        =|
|Section 8: Mobile adjustments                           =|
|                                                        =|
|Section 9: Miscellaneous                                =|
|    Specific adjustments                                =|
|    Scrollbar                                           =|
|                                                        =|
|=========================================================|
|=========================================================|

/*
=======================================================|
Section 1: General layout and reusable css
=======================================================|
*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    color: #333;
    background-color: #f4f4f4;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 100%;
    margin: 0 auto;
}

.flex-box {
    flex: 1;
    flex-basis: calc(20% - 20px);
    margin: 10px;
    min-width: 250px;
    background-color: rgba(245, 245, 245, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.flex-box:hover {
    transform: translateY(-5px);
}

.flex-box h3 {
    font-size: 24px;
    text-align: center;
    color: #00AEEF;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #00AEEF;
}

.flex-box p {
    font-size: 15px;
}

.flex-box ul {
    list-style: disc;
    padding-left: 20px;
}

.flex-box ul li {
    font-size: 16px;
    text-align: left;
    color: #333;
    margin-bottom: 10px;
}

.flex-box a {
    color: #00AEEF;
    text-decoration: none;
    transition: color 0.3s ease;
}

.flex-box a:hover {
    color: #f44336;
}

.resource-container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    gap: 20px;
    justify-content: space-evenly;
}

.resource-box {
    background: linear-gradient(145deg, #e0e0e0, #ffffff);
    border-radius: 10px;
    padding: 20px;
    flex-basis: 45%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.resource-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.resource-box h3 {
    color: #007acc;
    margin-bottom: 10px;
}

.resource-box ul {
    margin: 0;
    padding-left: 20px;
}

.content-section {
    padding: 60px 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/images/header.png');
    background-size: cover;
    background-position: center;
    color: #1D2B44;
    margin-bottom: 0;
}

.content-section h2 {
    font-size: 38px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.content-section h4 {
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    margin: 20px 300px;
}

.content-section p {
    font-size: 16px;
    text-align: center;
    color: #333;
    line-height: 1.6;
    margin-bottom: 20px;
}

/*
=======================================================|
Section 2: Forms and submissions styles
=======================================================|
*/
/*
============================|
S2a: Suggestion form
============================|
*/
.suggestions-form {
    text-align: center;
    width: 80%;
    margin: 30px auto;
    padding: 30px;
    background-color: rgba(199, 199, 199, 0.434);
    border: 2px solid #020202;
    border-radius: 10px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    font-size: 18px;
    color: #1D2B44;
    margin-bottom: 8px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #000000;
    font-size: 16px;
    background-color: #ffffff;
}

.form-group input:focus,
.form-group textarea:focus {
    border: 1px solid #00AEEF;
    outline: none;
}
/*
============================|
S2b: Search form
============================|
*/
.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.search h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.search form input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 400px;
    max-width: 90%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.searchbtn {
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.searchbtn:hover {
    background-color: #1d2b44;
}
/*
============================|
S2c: Newsletter signup
============================|
*/
.newsletter {
    display: flex;
    flex-direction: column;
    background-color: #f44336;
    color: white;
    text-align: center;
    padding: 50px 20px;
}

.newsletter h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.newsletter p {
    font-size: 18px;
    margin-bottom: 30px;
}

.newsletter-form {
    display: block;
    align-items: center;
}

.newsletter-input[type="email"] {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    width: 300px;
    max-width: 90%;
    text-align: center;
}

.newsletter-btn {
    display: inline-block;
    text-align: center;
    padding: 10px 30px;
    background-color: white;
    color: #f44336;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.newsletter-btn:hover {
    background-color: #1d2b44;
    color: white;
}

.g-recaptcha-container {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    transition: opacity 0.3s ease;
}

.g-recaptcha-container.active {
    display: flex;
    opacity: 1;
}

/*
=======================================================|
Section 3: Various buttons to be used in webpages
=======================================================|
*/
/*
============================|
S3a: Submit button
============================|
*/
.submit-btn {
    margin-top: 20px;
    padding: 12px 24px;
    background-color: #1d2b44;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.submit-btn:hover {
    background-color: #f44336;
    transform: scale(1.05);
}
/*
============================|
S3b: About button
============================|
*/
.about-btn {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    cursor: pointer;
    transition: 0.6s ease-in-out;
}

.about-btn:hover {
    border-color: #000;
    background: #f44336;
    transform: scale(1.05);
}
/*
============================|
S3c: Carousel button
============================|
*/
.carousel-btn {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carousel-btn:hover {
    background-color: #00AEEF;
}
/*
============================|
S3d: Learn more button
============================|
*/
.learnmore-btn {
    padding: 12px 24px;
    border: 2px solid #ffffff;
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
}

.learnmore-btn:hover {
    background-color: #f44336;
    border-color: #f44336;
}
/*
============================|
S3e: Scroll-to-top button
============================|
*/
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background: #1d2b44;
    color: white;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
    z-index: 10001;
    transition: transform 0.3s;
}

.scroll-to-top:hover {
    transform: translateY(-8px);
}

.dropbtn {
    display: block;
    width: 60%;
    padding: 12px 24px;
    border: 2px solid #ffffff;
    color: #1D2B44;
    cursor: pointer;
    text-align: left;
    margin-bottom: 5px;
    text-decoration: none;
    transition: 0.3s
}

.dropbtn:hover {
    background-color: #f44336;
    border-color: #f44336;
}
/*
=======================================================|
Section 4: Header style and navigation
=======================================================|
*/
.header {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/images/header.png');
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

nav img {
    max-height: 95px;
    width: 95px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ffffff;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links ul li {
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.headline {
    width: 90%;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.headline h2 {
    font-size: 52px;
}

.headline h3 {
    font-size: 36px;
}

.headline p {
    margin: 10px 0 20px;
    font-size: 20px;
    color: #ffffff;
}

/*
=======================================================|
Section 5: Footer styling
=======================================================|
*/
footer {
    background-color: #1D2B44;
    padding: 30px 0;
    color: #ffffff;
}

footer a {
    color: #00AEEF;
}

.footercontainer {
    display: flex;
    justify-content: space-evenly;
    padding: 0 15px;
    align-items: flex-start;
}

.footerlogo img {
    max-height: 70px;
    width: 70px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ffffff;
    margin-top: 30px;
}

.footerlogo h4 {
    margin-top: 10px;
    font-size: 18px;
}

.footerlogo p {
    margin-top: 5px;
    font-size: 14px;
    color: #ffffff;
}

footer h4 {
    font-size: 20px;
    margin-bottom: 15px;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer ul li {
    margin-bottom: 10px;
}

footer ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer ul li a:hover {
    color: #f44336;
    text-decoration: underline;
}

.footersocialmedia a {
    margin-right: 15px;
    color: #ffffff;
    display: inline-block;
}

.footersocialmedia a:hover {
    color: #f44336;
}

.footerbanner {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}

.footerbanner p {
    text-align: center;
    color: #ffffff;
}

/*
=======================================================|
Section 6: Information presentation
=======================================================|
*/
/*
=============================|
S6a: Statistics style
=============================|
*/
.cyber-stats-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 60px 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

.cyber-stats-container,
.cyber-workforce-container {
    width: 42%;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease-in-out;
}

.cyber-stats-container:hover,
.cyber-workforce-container:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.cyber-stats-container h2,
.cyber-workforce-container h2 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #00AEEF;
    border-bottom: 2px solid #f44336;
    padding-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.stat,
.workforce-stat {
    background: rgba(255, 255, 255, 0.15);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.stat:hover,
.workforce-stat:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.stat h3,
.workforce-stat h3 {
    font-size: 22px;
    color: #f44336;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.stat h3 i,
.workforce-stat h3 i {
    margin-right: 10px;
    color: #00AEEF;
}

.stat p,
.workforce-stat p {
    font-size: 20px;
    line-height: 1.8;
    color: #e0e0e0;
}

.stat p,
.workforce-stat p {
    font-size: 20px;
    color: #aaaaaa;
}

.cyber-stats-chart {
    text-align: center;
}
/*
============================|
S6b: Info box style
============================|
*/
.info-box {
    width: 100%;
    background-image: url('https://cdn.pixabay.com/photo/2022/01/10/15/05/circles-6928543_1280.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 80px 0;
    text-align: center;
    position: relative;
    color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.info-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.info-box-container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
    text-align: center;
}

.info-box-container h2 {
    font-size: 36px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 20px;
}

.info-box-container p {
    font-size: 18px;
    color: #ffffff;
    line-height: 1.6;
    margin-bottom: 20px;
}

.info-box-container ul {
    list-style: none;
    padding-left: 0;
}

.info-box-container ul li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.6;
    color: #ffffff;
}

.info-box-container ul li::before {
    content: '\2022';
    position: absolute;
    left: 0;
    top: 0;
    color: #f44336;
    font-size: 24px;
}
/*
=============================|
S6c: Chart/infographic styles
=============================|
*/
.cybercharts {
    display: flex;
    flex-basis: 30%;
    background: #1d2b44;
    padding: 20px 12px;
    justify-content: space-evenly;
    transition: 0.5s;
}

.chart-container {
    flex-basis: 31%;
    background: #ffffff;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.456);
    transition: 0.5s;
}

.chart-container h3 {
    color: black;
}

canvas {
    max-width: 100%;
    height: auto;
}

/*
=======================================================|
Section 7: Webpage specific styling
=======================================================|
*/
/*
============================|
S7a: Homepage
============================|
*/
.audience {
    padding: 50px;
    background-image: url('https://cdn.pixabay.com/photo/2023/06/01/17/25/hacker-8033977_1280.jpg');
    background-size: cover;
    background-position: center;
    margin: 0px;
    color: white;
    text-align: center;
    position: relative;
}

.audience::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.audience h2 {
    margin-bottom: 40px;
    font-size: 36px;
}

.audience-contents,
.audience-columns {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.audience-box {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 10px;
    text-align: left;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
    flex: 1;
}

.audience-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.audience-box h3 {
    font-size: 22px;
    color: #ffffff;
    margin-bottom: 15px;
}

.audience-box p {
    color: #ffffff;
    line-height: 1.6;
}

.audience-box i {
    font-size: 25px;
    color: #3498db;
    margin-bottom: 15px;
}

.featuredcontent {
    padding: 40px 20px;
    background: #f4f4f4;
    text-align: center;
    margin: 20px;
}

.featuredcontent h2 {
    font-size: 36px;
    color: #1d2b44;
}

.featuredcontent p {
    font-size: 20px;
    padding-bottom: 15px;
    color: #1d2b44;
}

.features-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.features-box {
    background-color: #1d2b44;
    padding: 30px;
    color: #ffffff;
    border-radius: 10px;
    text-align: center;
    flex: 1;
    transition: 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.features-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.features-box h3 {
    margin-bottom: 15px;
    font-size: 24px;
    color: #ffffff;
}

.features-box p {
    font-size: 16px;
    margin-bottom: 20px;
    color: white;
}
/*
============================|
S7b: Cyber News Page
============================|
*/
.rss-feeds {
    padding: 60px;
    background-image: url('https://cdn.pixabay.com/photo/2023/09/28/06/55/digital-8280778_1280.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

.rss-carousel {
    width: 100%;
    max-width: 1200px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    margin-bottom: 40px;
}

.carousel-container {
    display: flex;
    gap: 20px;
    width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 10px;
    white-space: nowrap;
}

.carousel-container::-webkit-scrollbar {
    display: none;
}

.rss-item {
    display: inline-block;
    width: 280px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
    transition: transform 0.3s ease;
    text-align: left;
    margin-right: 20px;
}

.rss-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.rss-item h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #1D2B44;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rss-item p {
    font-size: 14px;
    margin-bottom: 10px;
    color: #555;
    max-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rss-item a {
    color: #00AEEF;
    font-weight: 700;
    text-decoration: none;
}

.rss-item a:hover {
    color: #f44336;
}

.carousel-controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}
/*
============================|
S7c: Tools/Resources Page
============================|
*/
.pen-testing-tools-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.pen-tools-column {
    flex-basis: 48%;
}

.pen-tool {
    background-color: #1d2b44;
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.pen-tool h3 {
    font-size: 20px;
    color: #00AEEF;
    margin-bottom: 10px;
}

.pen-tool:hover {
    background-color: #28456b;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pen-tool-content {
    display: none;
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 8px;
    color: #333;
    font-size: 20px;
    margin-top: 10px;
}

.pen-tool-content.active {
    display: block;
}

.cyber-architecture {
    padding: 50px 20px;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cyber-architecture h2 {
    font-size: 36px;
    color: #00AEEF;
    margin-bottom: 30px;
}

.cyber-architecture p {
    font-size: 18px;
    color: #000;
    line-height: 1.6;
    margin: 30px 300px;
}

.cyber-architecture table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    background-color: rgba(29, 43, 68, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.cyber-architecture table th,
.cyber-architecture table td {
    border: 1px solid #444f66;
    padding: 20px 15px;
    text-align: left;
    font-size: 16px;
    color: #ffffff;
}

.cyber-architecture a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.cyber-architecture table th {
    background-color: #00AEEF;
    text-transform: uppercase;
    font-weight: 400;
}

.cyber-architecture table td {
    background-color: rgba(255, 255, 255, 0.1);
}

.cyber-architecture table tr:nth-child(even) td {
    background-color: rgba(255, 255, 255, 0.08);
}

.cyber-architecture table tr:hover td {
    background-color: rgba(255, 255, 255, 0.2);
}
/*
============================|
S7d: Cyber Hygiene Page
============================|
*/
.cyber-hygiene-tools {
    text-align: center;
}

.cyber-hygiene-tools-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    margin: 10px auto;
    padding: 20px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.cyber-hygiene-tools-container h2 {
    text-align: center;
    font-size: 22px;
    color: #007acc;
    margin-bottom: 15px;
}

.cyber-hygiene-tools-container p {
    text-align: center;
    font-size: 20px;
    color: #555;
    margin-bottom: 25px;
    line-height: 1.6;
}

.take-quiz-btn {
    display: inline-block;
    padding: 12px 25px;
    margin: 15px;
    background: #007acc;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.take-quiz-btn:hover {
    background: #005f99;
}

.result-section {
    margin-top: 25px;
    width: auto;
}

.result-section h2 {
    color: #007acc;
    font-size: 22px;
    margin-bottom: 10px;
}

.result-section ul {
    list-style: none;
    padding: 0;
}

.result-section li {
    padding: 10px 15px;
    background: #f4f4f4;
    margin: 8px 0;
    border-left: 5px solid #007acc;
    border-right: 5px solid #007acc;
    border-radius: 5px;
    position: relative;
}

.password-strength-checker,
.password-generator {
    width: 95%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    text-align: center;
    margin-bottom: 10px;
}

.password-strength-checker h2,
.password-generator h2 {
    font-size: 20px;
    color: #007acc;
    margin-bottom: 5px;
}

.password-tools-lbl {
    display: inline-flex;
    align-items: center;
    font-size: 18px;
    margin-bottom: 5px;
    color: #555;
}

.password-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.password-generator-btn {
    background-color: #007acc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.password-generator-btn:hover {
    background-color: #005f99;
}

#password-strength-form,
#password-generator-form {
    display: inline-block;
    text-align: center;
    width: 90%;
}

.generated-password-box {
    display: block;
    text-align: center;
    background: #f9f9f9;
    overflow-wrap: break-word;
    margin-top: 5px;
    padding: 5px 0;
}

#password-strength-text,
#password-crack-time,
#generated-password {
    font-size: 18px;
    margin-top: 10px;
    color: #555;
}

#password-strength-text {
    font-weight: bold;
}

/*
=======================================================|
Section 8: Mobile device ajustments full
=======================================================|
*/
@media (max-width: 900px) {
    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        max-width: 100%;
        margin: 0 auto;
    }

    .flex-box {
        flex: 1;
        flex-basis: 100%;
        margin: 10px;
        min-width: 250px;
        background-color: rgba(245, 245, 245, 0.9);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
    }

    .flex-box:hover {
        transform: translateY(-5px);
    }

    .flex-box h3 {
        font-size: 20px;
        text-align: center;
        color: #00AEEF;
        margin-bottom: 15px;
        padding-bottom: 10px;
        border-bottom: 2px solid #00AEEF;
    }

    .flex-box p {
        font-size: 14px;
    }

    .flex-box ul {
        list-style: disc;
        padding-left: 20px;
    }

    .flex-box ul li {
        font-size: 14px;
        text-align: left;
        color: #333;
        margin-bottom: 8px;
    }

    .flex-box a {
        color: #00AEEF;
        text-decoration: none;
        transition: color 0.3s ease;
    }

    .flex-box a:hover {
        color: #f44336;
    }

    .resource-container {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 20px;
    }

    .resource-box {
        background: linear-gradient(145deg, #e0e0e0, #ffffff);
        border-radius: 10px;
        padding: 15px;
        flex-basis: 100%;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .resource-box:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    }

    .resource-box h3 {
        color: #007acc;
        margin-bottom: 10px;
        font-size: 18px;
    }

    .resource-box ul {
        margin: 0;
        padding-left: 20px;
    }

    .content-section {
        padding: 40px 20px;
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/images/header.png');
        background-size: cover;
        background-position: center;
        color: #1D2B44;
        margin-bottom: 0;
    }

    .content-section h2 {
        font-size: 28px;
        color: #ffffff;
        text-align: center;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    .content-section h4 {
        font-size: 16px;
        color: #ffffff;
        text-align: center;
        margin: 20px 30px;
    }

    .content-section p {
        font-size: 14px;
        text-align: center;
        color: #333;
        line-height: 1.6;
        margin-bottom: 20px;
    }

    .suggestions-form {
        width: 90%;
        margin: 20px auto;
        padding: 20px;
        background-color: rgba(199, 199, 199, 0.434);
        border: 2px solid #020202;
        border-radius: 10px;
        text-align: center;
    }

    .form-group {
        margin-bottom: 15px;
        text-align: left;
    }

    .form-group label {
        font-size: 16px;
        color: #1D2B44;
        margin-bottom: 6px;
    }

    .form-group input,
    .form-group textarea {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #000000;
        font-size: 14px;
        background-color: #ffffff;
    }

    .form-group input:focus,
    .form-group textarea:focus {
        border: 1px solid #00AEEF;
        outline: none;
    }

    .search {
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 10px;
        text-align: center;
    }

    .search h2 {
        font-size: 28px;
        margin-bottom: 15px;
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 12px;
    }

    .search form input[type="text"] {
        padding: 12px;
        font-size: 14px;
        width: 90%;
        max-width: 400px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    .searchbtn {
        padding: 10px 20px;
        margin: 10px;
        background-color: #f44336;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        text-align: center;
    }

    .searchbtn:hover {
        background-color: #1d2b44;
    }

    .newsletter {
        display: flex;
        flex-direction: column;
        background-color: #f44336;
        color: white;
        text-align: center;
        padding: 30px 20px;
    }

    .newsletter h2 {
        font-size: 28px;
        margin-bottom: 15px;
    }

    .newsletter p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .newsletter-form {
        display: block;
        align-items: center;
    }

    .newsletter-input[type="email"] {
        padding: 10px;
        font-size: 14px;
        border: none;
        border-radius: 5px;
        margin-right: 10px;
        width: 100%;
        max-width: 300px;
        text-align: center;
    }

    .newsletter-btn {
        display: inline-block;
        text-align: center;
        padding: 10px 30px;
        margin: 10px;
        background-color: white;
        color: #f44336;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .newsletter-btn:hover {
        background-color: #1d2b44;
        color: white;
    }

    .submit-btn {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #1d2b44;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
        transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    }

    .submit-btn:hover {
        background-color: #f44336;
        transform: scale(1.05);
    }

    .about-btn {
        display: inline-block;
        text-decoration: none;
        color: #ffffff;
        border: 1px solid #ffffff;
        padding: 10px 20px;
        font-size: 14px;
        background: transparent;
        cursor: pointer;
        transition: 0.6s ease-in-out;
    }

    .about-btn:hover {
        border-color: #000;
        background: #f44336;
        transform: scale(1.05);
    }

    .carousel-btn {
        background-color: rgba(0, 0, 0, 0.5);
        border: none;
        color: white;
        padding: 8px;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .carousel-btn:hover {
        background-color: #00AEEF;
    }

    .learnmore-btn {
        padding: 10px 20px;
        border: 2px solid #ffffff;
        color: #ffffff;
        text-decoration: none;
        font-size: 14px;
        transition: 0.3s;
    }

    .learnmore-btn:hover {
        background-color: #f44336;
        border-color: #f44336;
    }

    .scroll-to-top {
        position: fixed;
        bottom: 15px;
        left: 15px;
        background: #1d2b44;
        color: white;
        padding: 10px 15px;
        border-radius: 50%;
        font-size: 16px;
        cursor: pointer;
        z-index: 10001;
        transition: transform 0.3s;
    }

    .scroll-to-top:hover {
        transform: translateY(-8px);
    }

    .dropbtn {
        display: block;
        width: 80%;
        padding: 10px 20px;
        border: 2px solid #ffffff;
        color: #1D2B44;
        cursor: pointer;
        text-align: left;
        margin-bottom: 10px;
        text-decoration: none;
        transition: 0.3s;
    }

    .dropbtn:hover {
        background-color: #f44336;
        border-color: #f44336;
    }

    .cyber-stats-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 10px;
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
        background-size: cover;
        background-position: center;
        color: #ffffff;
    }

    .cyber-stats-container,
    .cyber-workforce-container {
        width: 90%;
        margin-bottom: 20px;
        background: rgba(255, 255, 255, 0.1);
        padding: 15px;
        border-radius: 15px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
        transition: transform 0.3s ease-in-out;
    }

    .cyber-stats-container:hover,
    .cyber-workforce-container:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    }

    .cyber-stats-container h2,
    .cyber-workforce-container h2 {
        font-size: 20px;
        margin-bottom: 15px;
        color: #00AEEF;
        border-bottom: 2px solid #f44336;
        padding-bottom: 8px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    }

    .stat,
    .workforce-stat {
        background: rgba(255, 255, 255, 0.15);
        padding: 15px;
        margin-bottom: 15px;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease-in-out;
    }

    .stat:hover,
    .workforce-stat:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    }

    .stat h3,
    .workforce-stat h3 {
        font-size: 18px;
        color: #f44336;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .stat h3 i,
    .workforce-stat h3 i {
        margin-right: 8px;
        color: #00AEEF;
    }

    .stat p,
    .workforce-stat p {
        font-size: 16px;
        line-height: 1.6;
        color: #e0e0e0;
    }

    .cyber-stats-chart {
        align-content: center;
    }

    .cyber-stats-chart h2,
    .chart-container h3 {
        text-align: center;
    }

    .cyber-stats-chart p {
        text-align: center;
    }

    .info-box {
        padding: 60px 20px;
        background-image: url('https://cdn.pixabay.com/photo/2022/01/10/15/05/circles-6928543_1280.jpg');
        background-size: cover;
        background-position: center;
        margin: 0;
        text-align: center;
        color: white;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
        width: auto;
    }

    .info-box::before {
        background: rgba(0, 0, 0, 0.6);
    }

    .info-box-container {
        padding: 30px 15px;
        border-radius: 15px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(8px);
        text-align: center;
    }

    .info-box-container h2 {
        font-size: 26px;
        font-weight: 700;
        color: #ffffff;
        margin-bottom: 15px;
    }

    .info-box-container p {
        font-size: 16px;
        color: #ffffff;
        line-height: 1.6;
        margin-bottom: 15px;
    }

    .info-box-container ul {
        list-style: none;
        padding-left: 0;
    }

    .info-box-container ul li {
        position: relative;
        padding-left: 25px;
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 1.6;
        color: #ffffff;
    }

    .info-box-container ul li::before {
        content: '\2022';
        position: absolute;
        left: 0;
        top: 0;
        color: #f44336;
        font-size: 20px;
    }

    .cybercharts {
        display: block;
        flex-basis: 100%;
        background: #1d2b44;
        padding: 20px 10px;
        justify-content: center;
        transition: 0.5s;
    }

    .chart-container {
        flex-basis: 100%;
        background: #ffffff;
        border-radius: 10px;
        margin-bottom: 20px;
        padding: 20px 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.456);
        transition: 0.5s;
    }

    .chart-container h3 {
        color: black;
        font-size: 20px;
        margin-bottom: 15px;
    }

    canvas {
        max-width: 100%;
        height: 250px;
    }

    .audience {
        padding: 30px 15px;
        background-size: cover;
        background-position: center;
        text-align: center;
    }

    .audience h2 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .audience-contents,
    .audience-columns {
        display: block;
        gap: 20px;
        width: 100%;
    }

    .audience-box {
        background-color: rgba(255, 255, 255, 0.2);
        padding: 20px;
        margin: 15px;
        border-radius: 10px;
        text-align: left;
        backdrop-filter: blur(10px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        transition: transform 0.3s ease-in-out;
        flex: 1;
    }

    .audience-box h3 {
        font-size: 18px;
        color: #ffffff;
        margin-bottom: 15px;
    }

    .audience-box p {
        font-size: 16px;
        color: #ffffff;
        line-height: 1.6;
    }

    .audience-box i {
        font-size: 22px;
        color: #3498db;
        margin-bottom: 15px;
    }

    .featuredcontent {
        padding: 20px;
        background: #f4f4f4;
        text-align: center;
        margin: 10px;
    }

    .featuredcontent h2 {
        font-size: 28px;
        color: #1d2b44;
        margin-bottom: 15px;
    }

    .featuredcontent p {
        font-size: 16px;
        color: #1d2b44;
        margin-bottom: 20px;
    }

    .features-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
    }

    .features-box {
        width: 90%;
        padding: 20px;
        background-color: #1d2b44;
        color: #ffffff;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        transition: 0.3s;
    }

    .features-box:hover {
        transform: translateY(0);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }

    .features-box h3 {
        margin-bottom: 10px;
        font-size: 20px;
        color: #ffffff;
    }

    .features-box p {
        font-size: 14px;
        color: #ffffff;
        margin-bottom: 15px;
        line-height: 1.6;
    }

    .rss-feeds {
        padding: 20px 10px;
    }

    .rss-carousel {
        padding: 15px;
        text-align: center;
        margin-bottom: 20px;
    }

    .carousel-container {
        flex-direction: row;
        gap: 15px;
        overflow-x: auto;
        white-space: nowrap;
    }

    .rss-content {
        width: 100%;
        max-width: 90%;
        padding: 12px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
        margin: 0 auto;
    }

    .rss-content h4 {
        font-size: 1rem;
        margin-bottom: 8px;
    }

    .rss-content p {
        font-size: 0.875rem;
        max-height: 50px;
        margin-bottom: 8px;
    }

    .carousel-btn {
        font-size: 22px;
        padding: 10px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
    }

    .carousel-btn:hover {
        background-color: #00AEEF;
    }

    .carousel-controls {
        gap: 8px;
        margin-top: 12px;
    }

    .rss-carousel,
    .rss-content {
        margin-bottom: 15px;
        width: 95%;
    }

    .rss-content img {
        border-radius: 8px;
        margin-bottom: 12px;
    }

    .carousel-container {
        width: 100%;
        display: flex;
        overflow-x: auto;
    }

    .rss-content {
        min-width: 100%;
        flex: 0 0 100%;
    }

    .pen-testing-tools-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .pen-tools-column {
        flex-basis: 100%;
        width: 100%;
        margin-bottom: 0;
        padding: 0 10px;
    }

    .pen-tool {
        width: 100%;
        background-color: #1d2b44;
        margin-bottom: 15px;
        padding: 15px;
        border-radius: 10px;
        color: #ffffff;
        cursor: pointer;
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
        box-sizing: border-box;
    }

    .pen-tool h3 {
        font-size: 18px;
        color: #00AEEF;
        margin-bottom: 8px;
        text-align: center;
    }

    .pen-tool:hover {
        background-color: #28456b;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .pen-tool-content {
        display: none;
        background-color: #f5f5f5;
        padding: 10px;
        border-radius: 8px;
        color: #333;
        font-size: 18px;
        margin-top: 8px;
    }

    .pen-tool-content.active {
        display: block;
    }

    .cyber-architecture {
        padding: 15px;
        text-align: center;
    }

    .cyber-architecture h2 {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .cyber-architecture p {
        font-size: 14px;
        line-height: 1.6;
        margin: 15px auto;
        max-width: 90%;
        text-align: center;
        word-wrap: break-word;
    }

    .cyber-architecture table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    .cyber-architecture table thead {
        display: block;
        margin-bottom: 15px;
    }

    .cyber-architecture table thead tr {
        display: flex;
        flex-direction: column;
        border: 1px solid #444f66;
        border-radius: 8px;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 10px;
        text-align: left;
    }

    .cyber-architecture table thead th {
        display: block;
        text-align: left;
        padding: 8px;
        font-size: 14px;
        color: white;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        border-bottom: 1px solid #444f66;
    }

    .cyber-architecture table tr {
        display: block;
        margin-bottom: 15px;
        border: 1px solid #444f66;
        border-radius: 8px;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 10px;
    }

    .cyber-architecture table td {
        display: flex;
        flex-direction: column;
        padding: 8px;
        text-align: left;
        font-size: 14px;
        color: #ffffff;
    }

    .cyber-architecture table td::before {
        content: attr(data-label);
        font-weight: bold;
        color: #00AEEF;
        margin-bottom: 5px;
        text-transform: uppercase;
    }

    .cyber-architecture table tr:nth-child(even) td {
        background-color: rgba(255, 255, 255, 0.08);
    }

    .cyber-architecture table tr:hover td {
        background-color: rgba(255, 255, 255, 0.2);
    }

    .cyber-hygiene-tools {
        padding: 10px;
        text-align: center;
    }

    .cyber-hygiene-tools h1,
    .cyber-hygiene-tools p {
        font-size: 16px;
        padding: 5px;
    }

    .cyber-hygiene-tools-container {
        padding: 15px;
        margin: 5px auto;
        width: 100%;
        box-sizing: border-box;
    }

    .password-strength-checker,
    .password-generator,
    .cyber-hygiene-tools-container h2 {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .cyber-hygiene-tools-container p {
        font-size: 14px;
        margin-bottom: 10px;
    }

    #analysis-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        margin-top: 20px;
    }

    .take-quiz-btn,
    .password-generator-btn,
    #analyze-btn,
    #clear-btn {
        display: inline-block;
        padding: 12px 25px;
        margin: 5px;
        background: #007acc;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 15px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .result-section {
        margin-top: 20px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 8px;
        background-color: #f9f9f9;
        width: 100%;
        max-width: 400px;
        box-sizing: border-box;
        overflow-wrap: break-word;
        word-wrap: break-word;
        line-height: 1.4;
    }

    .result-section h2 {
        font-size: 16px;
        margin-bottom: 8px;
    }

    .result-section p {
        font-size: 13px;
        line-height: 1.5;
        margin-bottom: 8px;
    }

    .result-section ul {
        padding-left: 15px;
        font-size: 13px;
        margin-bottom: 8px;
    }

    #map {
        width: 100%;
        height: 250px;
        margin: 10px auto;
    }

    #recommendations ul {
        padding-left: 15px;
        font-size: 13px;
        list-style: none;
        text-align: left;
    }

    #recommendations ul li::before {
        content: "•";
        color: #007acc;
    }

    .header img {
        position: absolute;
        top: 60px;
        left: 25px;
        width: auto;
        height: auto;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 1000;
        opacity: 0.9;
    }

    .header img:hover {
        filter: brightness(1.2);
        transition: filter 0.3s ease;
    }

    .nav-links {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 60%;
        height: auto;
        background-color: rgba(0, 0, 0, 0.95);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 5px;
        align-items: flex-end;
        z-index: 999;
        border: 2px solid #ffffff;
        border-radius: 8px;
        box-sizing: border-box;
    }

    .nav-links ul {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: right;
    }

    .nav-links ul li {
        display: block;
        margin: 5px 0;
    }

    .nav-links ul li a {
        color: #ffffff;
        text-decoration: none;
        font-size: 12px;
        padding: 5px 10px;
        transition: color 0.3s ease-in-out;
    }

    .nav-links ul li a:hover {
        color: #f44336;
    }

    .headline {
        padding-top: 20px;
    }

    .headline h2 {
        font-size: 28px;
    }

    .headline h3 {
        font-size: 20px;
    }

    .headline p {
        font-size: 14px;
    }

    .footercontainer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        text-align: center;
    }

    .footerlogo,
    .footercontact,
    .footernav,
    .footersocialmedia {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;
    }

    .footernav ul li {
        margin-bottom: 10px;
        display: block;
    }

    .scroll-to-top {
        left: 10px;
    }
}

/*
=======================================================|
Section 9: Misc. add-ons styling
=======================================================|
*/
/*
============================|
Specific Section adjustments
============================|
*/
.current-events,
.trending-topics,
.introduction {
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
}
/*
============================|
Scrollbar
============================|
*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #00AEEF;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #1d2b44;
    border-radius: 10px;
    border: 1px solid black;
}

::-webkit-scrollbar-thumb:hover {
    background: #00AEEF;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #00AEEF #1d2b44;
}